.wave {
    display: flex;
    justify-content: center;
    align-items: center;
    /*background: linear-gradient(to bottom, sandybrown, chocolate);*/
    background-repeat: no-repeat;
    background-color: #990000;
    background-size: cover;
    background-image: linear-gradient(to right, rgba(245, 246, 252, 0.52), rgba(117, 19, 93, 0.73)), url("./files/ITOpsKanban.jpg");
    height: 200px;
    position: relative;
    margin-bottom: 20px;
    margin-top: 50px;
    flex-direction: column;
    text-align: center;
    /*align-items: flex-end;*/
    /*padding-right: 10%;*/
}

.wave::before,
.wave::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    background-repeat: repeat-x;
}

.wave::before {
    height: 10px;
    background-size: 20px 20px;
    background-image: radial-gradient(circle at 10px -5px, transparent 12px, white 13px);
}

.wave::after {
    height: 15px;
    background-size: 40px 20px;
    background-image: radial-gradient(circle at 10px 15px, white 12px, transparent 13px);
}

.img {
    filter: invert(0);
    display: block;
    width: 100%;
    height: 100%;
    padding: 0;
    /*height: 200px;*/
    /*width: 200px;*/
}

.container {
    position: relative;
    padding: 12px;
    filter: invert(0);
    /*width: 50%;*/
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: white;
}

.container:hover .overlay {
    opacity: 0.75;
}

.text {
    color: black;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

.disc1 {
    color: black;
    font-size: 15px;
    position: absolute;
    top: 60%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

@font-face {
    /* Persian Font */
    font-family: 'pFont';
    src: url(./font/BN.ttf);
    unicode-range: U+0600-06FF;
}

@font-face {
    /* Persian Font */
    font-family: 'eFont';
    src: url(./font/SL.ttf);
    unicode-range: U+0600-06FF;
}

.img_row {
    padding-left: 20px;
    padding-right: 20px;
    align-items: center;
}

.hover-img {
    transition: all 0.4s ease-in;
}

.hover-img:hover {
    margin-top: -50px;
}

.hover-img:hover {
    /*background: black;*/
}

.ca-text {
    text-align: center;
    padding: 5px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.ca-text-hover:hover {
    margin-top: 10px;
    margin-bottom: 10px;
    /* transition-delay: 1s; */
    transition: 0.6s ease;
}

.sm-logo {
    padding: 5px;
}

.sm-logo:hover {
    filter: hue-rotate(180deg);
    -webkit-filter: hue-rotate(180deg);
    /*background-image: linear-gradient(to bottom, rgba(245, 246, 252, 0.52), rgba(117, 19, 93, 0.73));*/
}

.huerotate {
    filter: hue-rotate(200deg);
    -webkit-filter: hue-rotate(30deg);
}

.div-slideshow {
    align-items: center;
    width: 100%;
    height: 20%;
}

.form-mem {
    padding-bottom: 10px;
    margin: 0 auto;
    /*margin-left: 10px;*/
    /*margin-right: 10px;*/
}

.static {
    position: static;
    height: 100%;
    background-color: #ffc;
    border-color: #996;
}

.absolute {
    position: absolute;
    width: 150px;
    height: 350px;
    background-color: #fdd;
    border-color: #900;
    opacity: 0.7;
}

.relative {
    position: relative;
    height: 80px;
    /*background-color: #cfc;*/
    border-color: #696;
    /*opacity: 0.7;*/
}

#abs1 {
    top: 10px;
    left: 10px;
}

#rel1 {
    top: 30px;
    margin: 0px 50px 0px 50px;
}

#rel2 {
    top: 30px;
    /*left: 20px;*/
    /*margin: 0px 50px 0px 50px;*/
}

#abs2 {
    top: 10px;
    right: 10px;
}

#sta1 {
    height: fit-content;
    background-color: gray;
    /*margin: 50px 50px 0px 50px;*/
}

.my-flex {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.my-row {
    justify-content: space-evenly;
    align-items: center;
    display: flex;
    flex-direction: row;
}

.my-icon {
    fill: white;
    width: 50px;
}

.my-icon:hover {
    fill: #C5A715FF;
}

.arrow-down {
    width: 0;
    height: 0;
    border-left: solid transparent 50vw;
    border-right: solid transparent 50vw;
    border-top: solid black 50px;
    position: absolute;
    bottom: -50px;
}

.arrow-up {
    width: 0;
    height: 0;
    border-left: solid transparent 50vw;
    border-right: solid transparent 50vw;
    border-top: solid white 50px;
    position: absolute;
    top: 0;
}

.center {
    background-color: rgb(83, 94, 109);
    border-color: rgb(83, 94, 109);
    text-align: center;
}

.slide-card {
    align-items: center;
    width: 70%;
    background-color: yellowgreen;
    margin: auto !important;
}

.card-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.my-card {
    margin: 10px;
    width: 300px;
    height: fit-content;
    /* height: 50px; */
}

.card-list {
    margin: auto !important;
    /*line-height: 50px;*/
    text-align: center;
    vertical-align: middle;
}

.im-tag {
    color: white;
    background-color: #990000;
    width: fit-content;
    padding: 6px 12px 6px 12px;
    transform: rotate(-90deg);
    position: absolute;
    top: 0;
    left: 20px;
}

.activities {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    margin: 5px;
    position: relative;
}

.acive-img {
    position: absolute;
    box-shadow: 5px 10px 10px black;
}

.acive-img:hover {
    box-shadow: 5px 10px 30px black;
    z-index: 2;
}

.image-top {
    top: 20px;
    left: 20px;
}

.image-bottom {
    top: 0;
    left: 0;
    z-index: 1;
}

body {
    overflow-x: hidden;
}

@media only screen and (max-width: 600px) {
    .my-flex {
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: row;
    }

    .my-row {
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;
    }

    .card-flex {
        display: flex;
        flex-direction: column;
    }
}

.borderColor {
    border-color: #aa7700;
    background-color: #FFFFFF;
}

div {
    /*filter: invert(1);*/
}

.card-btn {
    border-color: #aa7700;
}

.comment-body {
    background-color: #fee4b3;
    color: black;
}

.contact-us {
    position: relative;
    margin-bottom: 70px;
    background-color: black;
    font-family: pFont
}

@media (prefers-color-scheme: dark) {
    /*.dark-scheme   { background:  #333; color: white; }*/
    body.dark-scheme {
        background: #444;
        color: white;
    }

    #Cards.dark-scheme {
        color: white
    }

    .card-body.dark-scheme {
        background: #6b6b6b
    }

    .card-btn.dark-scheme {
        background: #222222;
        color: white;
        border-color: #523900;
    }

    .comment-body.dark-scheme {
        background: #a86e13;
        color: #e5e5e5;
    }

    .contact-us.dark-scheme {
    }

    .arrow-up.dark-scheme {
        border-top: solid #444 50px;
    }

    .wave.dark-scheme {
        color: #222222;
    }

    .wave.dark-scheme::before {
        height: 10px;
        background-size: 20px 20px;
        background-image: radial-gradient(circle at 10px -5px, transparent 12px, #444 13px);
    }

    .wave.dark-scheme::after {
        height: 15px;
        background-size: 40px 20px;
        background-image: radial-gradient(circle at 10px 15px, #444 12px, transparent 13px);
    }

    .news-input.dark-scheme {
        /*filter: invert(1);*/
        color: white;
        background: gray;
    }

    .news-input.dark-scheme::placeholder {
        color: white;
    }
    .news.dark-scheme {
        background-color: #02145b;
        width: 80%;
        padding-left: 50px;
        padding-right: 50px;
        height: fit-content;
        margin: 0 auto;
        font-family: pFont
    }
}

.news {
    background-color: #48b9d7;
    width: 80%;
    padding-left: 50px;
    padding-right: 50px;
    height: fit-content;
    margin: 0 auto;
    font-family: pFont
}
